<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width", initial-scale=1.0>
        <title>This is the home page</title>
        <link rel = "stylesheet" href="../static/css/style.css">
        
    </head>

    <body>
        <div class="head">
            <video autoplay loop plays-inline muted  class="back-video">
                <source src="../static/silent.mp4" type="video/mp4">
            </video>             
        </div>
        
        
       <center>
        <a href="/interface">
        <button class="btn" href = "/interface">GET START</button></a>
       </center>
    </body>
</html>