<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Container Example</title>
  <link rel="stylesheet" href="../static/css/style.css"> <!-- Link to CSS file -->
</head>
<body>
  <center><div class="container">
   <center><h1>Welcome to My Website</h1></center>  
  </div>
</center>
<center>
  <a href="/interface">
  <button class="btn" href = "/interface">GET START</button></a>
 </center>

</body>
</html>
